<!DOCTYPE html>
<html>
<head>
	<title>Cadastro de Usuários</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">#</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Meus Dispositos</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Status</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/cadastro">Meu Cadastro</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<div class="container">
		<form action="/cadastro/inserir" method="post" style="margin-top: 30px">
		  <div class="form-group">
		    <label for="email">E-mail</label>
		    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"">
		  </div>
		  <div class="form-group">
		    <label for="senha">Senha</label>
		    <input type="password" class="form-control" id="senha" name="senha">
		  </div>
		  <div class="form-group">
		    <label for="senha_v">Digite a sua senha novamente</label>
		    <input type="password" class="form-control" id="senha_v" name="senha_v">
		  </div>
		  <button type="submit" class="btn btn-primary">Enviar</button>
		</form>
	</div>
</body>
</html>