<!DOCTYPE html>
<html>
<head>
	<title>Atualizar foto de perfil</title>
</head>
<body>
	<script type="text/javascript">
		

	</script>
	<% include ../header/header %>
    <% if(typeof(validacao) != "undefined"){%>
    	<div class="alert alert-danger" role="alert">
   		 <ul>
        <% for(var i = 0; i < validacao.length; i++){ %>
            <li><%= validacao[i].msg %></li>        
        <% } %>
   		 </ul>
    	</div>
    <% }%>
	<div class="container">	

		<form action='/cadastro/atualizar/foto' method='post' encType="multipart/form-data" style="margin-top: 30px">
		  <div class="form-group">
		    <label for="arquivo">Selecione uma imagem</label>
		    <input type="file" name="arquivo" value="Pesquisar"/>
		  </div>
		  <button type="submit">Enviar</button>
		</form>
	</div>
</body>
</html>