<!DOCTYPE html>
<html>
<head>
	<title>Atualizar foto de perfil</title>
</head>
<body>
	<script type="text/javascript">
		function getCookie(cname) {
		    var name = cname + "=";
		    var decodedCookie = decodeURIComponent(document.cookie);
		    var ca = decodedCookie.split(';');
		    for(var i = 0; i <ca.length; i++) {
		        var c = ca[i];
		        while (c.charAt(0) == ' ') {
		            c = c.substring(1);
		        }
		        if (c.indexOf(name) == 0) {
		            return c.substring(name.length, c.length);
		        }
		    }
		    return "";
		}
	</script>
	<% include ../header/header %>
   
	<div class="container">	
		 <% if(typeof(validacao) != "undefined"){%>
		 <ul>
		 	<% if(validacao[0].erro == 'true'){ %>
		 		<div class="alert alert-danger" role="alert"><li><%= validacao[0].msg %></li></div>	
		 	<% }else{ %>
		 		<div class="alert alert-success" role="alert"><li><%= validacao[0].msg %></li></div>
		 	<% } %>
		 </ul>
		 <% }%>

		<form action='/cadastro/atualizar/foto' method='post' encType="multipart/form-data" style="margin-top: 30px">
		  <div id="message"></div>
		  <div class="form-group">
		    <label for="arquivo">Selecione uma imagem</label>
		    <input type="file" name="arquivo" value="Pesquisar"/>
		  </div>
		  <button type="submit">Enviar</button>
		</form>
	</div>
	<script type="text/javascript">
		if(getCookie("dados_atualizados") != null){
			  	 if(getCookie("dados_atualizados") == "true") {
			  		message.innerHTML = '<div class="alert alert-success" role="alert">Dados gravados com sucesso</div>';
				}else{
					message.innerHTML = '<div class="alert alert-danger" role="alert">Houve um erro ao alterar a senha</div>';
				} 
			}
			
			document.cookie = "dados_atualizados=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;"
	</script>
</body>
</html>