<!DOCTYPE html>
<html>
<head>
	<title>Página Inicial</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
	<% include ../header/header %>
	<div class="container">
		<h1>Atualizar dados de cadastro</h1>
		<form action="/cadastro/atualizar" method="post" style="margin-top: 30px">
		<% if(typeof(dados) != undefined){%>	
			  <div class="form-group">
			    <label for="email">Nome</label>
			    <input type="text" class="form-control" id="nome" name="nome" aria-describedby="emailHelp" length='10' value="<%= dados[0].nome %>">
			  </div>
			  <div class="form-group">
			    <label for="email">E-mail</label>
			    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" value="<%= dados[0].email %>">
			  </div>
			  <div class="form-group">
			    <label for="email">Nome de usuário</label>
			    <input type="text" class="form-control" id="nome_usuario" name="nome_usuario" aria-describedby="emailHelp" length='8' value=<%= dados[0].nome_usuario %>>
			  </div>
			  <div class="form-group">
			    <label for="senha">Senha</label>
			    <input type="password" class="form-control" id="senha" name="senha">
			  </div>
			  <div class="form-group">
					<label for="senhav">Digite a sua senha novamente</label>
					<input type="password" class="form-control" id="senha" name="senhav">
			  </div>
			  <button type="submit" class="btn btn-primary">Atualizar</button>
		<% }else{ %>
				<p> Não há dados para exibir</p>
		<% } %>%>	
		</form>
	</div>
</body>
</html>