<!DOCTYPE html>
<html>
<head>
	<title>Página Inicial</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
</head>
<body>
	<% include ../header/header %>
	<div class="container">
		
		<h4>Dados Gerais</h4>
		<hr>
		<h6>Dispositivos</h6>
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Nome</th>
		      <th scope="col">IP</th>
		      <th scope="col">Protocolo</th>
		      <th scope="col">Menu</th>
		    </tr>
		  </thead>
		  <tbody>
			<% 
				if(typeof(devices) != "undefined"){
					for (var i = 0; i < devices.length; i++) { %>
					<tr>
						<td> <%= devices[i].nome_dispositivo %> </td>
						<td> <%= devices[i].ip %> </td>
						<td> <%= devices[i].protocolo %> </td>
						<td></td>
					</tr>		
					<%
					}
				}
			%>
		  </tbody>
		</table>
		<hr>
		<h6>Status</h6>
		<div id="charts"></div>
	</div>
</body>
</html>