<!DOCTYPE html>
<html>
<head>
	<title>Página Inicial</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
	<% include ../header/header %>
	<div class="container">
		
		<h6>Dados Gerais</h6>
		
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Nome</th>
		      <th scope="col">IP</th>
		      <th scope="col">Protocolo</th>
		      <th scope="col">Menu</th>
		    </tr>
		  </thead>
		  <tbody>
			<% 
				if(typeof(devices) != "undefined"){
					for (var i = 0; i < devices.length; i++) { %>
					<tr>
						<td> <%= devices[i].nome_dispositivo %> </td>
						<td> <%= devices[i].ip %> </td>
						<td> <%= devices[i].protocolo %> </td>
						<td></td>
					</tr>		
					<%
					}
				}
			%>
		  </tbody>
		</table>

		<h6>Status</h6>
	</div>
</body>
</html>