 <html>
<meta charset='utf-8'>
<body>
	<h1>Página Inicial</h1>

	<table>
		<tr>
			<td>Dispositivo</td>
			<td>IP</td>
			<td>Protocolo</td>
		</tr>

		<% for (var i = 0; i < devices.length; i++) { %>
				<tr>
					<td> <%= devices[i].nome %> </td>
					<td> <%= devices[i].ip %> </td>
					<td> <%= devices[i].protocolo %> </td>
				</tr>		
			<%
			}
		%>

	</table>
</body>