<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<script type="text/javascript">
	function getCookie(cname) {
		    var name = cname + "=";
		    var decodedCookie = decodeURIComponent(document.cookie);
		    var ca = decodedCookie.split(';');
		    for(var i = 0; i < ca.length; i++) {
		        var c = ca[i];
		        while (c.charAt(0) == ' ') {
		            c = c.substring(1);
		        }
		        if (c.indexOf(name) == 0) {
		            return c.substring(name.length, c.length);
		        }
		    }
		    return null;
		}
</script>
	<a class="navbar-brand" href="#">#</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<div class="navbar-nav-scroll">
		<ul class="navbar-nav bd-navbar-nav flex-row">
			<li class="nav-item active">
				<a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dispositivos</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/dispositivos/listar">Listar</a>
					<a class="dropdown-item" href="/dispositivos/cadastrar">Cadastrar</a>
					<a class="dropdown-item" href="/dispositivos/status">Consultar Status</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Meu Cadastro</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="nav-link" href="/perfil/dados">Alterar dados</a>
					<a class="nav-link" href="/perfil/senha">Alterar senha</a>
					<a class="nav-link" href="/perfil/imagem">Alterar foto de perfil</a>
				</div>
			</li>
		</ul>
		</div>
		<ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex px-3">
			<li class="nav-item text-nowrap" style="margin-right: 25px;">
				<img src="" id="img" width="45px">
			</li>
			<li class="nav-item text-nowrap">
				<a class="nav-link" href="/sair">Sair</a>
			</li>
		</ul>
	</div>
</nav>
<script type="text/javascript">
	function foto_perfil(){
		$.ajax({
			url: '/cadastro/foto/perfil',
			type: 'GET',
			dataType: '',
			data: {param1: 'value1'},
		})
		.done(function(result) {
			try{
				img.src = "http://"+location.hostname+'/'+result.foto_perfil
			}catch(e){
				console.log("falha ao atribuir a foto ao usuário")
			}
			console.log("success");
		})
		.fail(function() {
			console.log("error");
		})
		.always(function() {
			console.log("complete");
		});
	}
	
	foto_perfil();
		
</script>