<!DOCTYPE html>
<html>
<head>
	<title>Listar</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/app.css">
	<link rel="stylesheet" type="text/css" href="../css/material-design-iconic-font.min.css">
</head>
<body>
	<% include ../header/header %>
	<div class="container">
			<div class="page-head">
				<h2 class="page-head-title">Dispositivos</h2>
			</div>
			<hr/>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th scope="col">Nome</th>
						<th scope="col">Tópico</th>
						<th scope="col">Baixar Dados</th>
						<th scope="col">Excluir</th>
					</tr>
				</thead>
				<tbody>
					<% 
					if(typeof(devices) != "undefined"){
						for (var i = 0; i < devices.length; i++) { %>
							<tr>
								<td> <%= devices[i].nome_dispositivo %> </td>
								<td> <%= devices[i].topic %> </td>
								<td><input type="button" data-id=<%= devices[i].id %> name="button" value="Baixar" class="bt_device btn btn-primary mb-2"> </td>
								<td><input type="button" data-id=<%= devices[i].id %> name="button" value="Excluir" class="bt_excluir btn btn-danger mb-2"></td>
							</tr>		
							<%
						}
					}
					%>
			</tbody>
		</table>
		<hr/>
	</div>

	<script type="text/javascript">
		$('.bt_excluir').on('click',function(){
			var r = confirm('Deseja excluir o dispositivo e seus registros ?');
			if (r == true) {
				$.ajax({
					url: '/dispositivo/exluir',
					type: 'POST',
					dataType: 'json',
					data: {id: 'value1'},
				})
				.done(function() {
					console.log("success");
				})
				.fail(function() {
					console.log("error");
				})
				.always(function() {
					console.log("complete");
				});

			} 
		})


	</script>
</body>
	
</html>