<!DOCTYPE html>
<html>
<head>
	<title>Status</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/app.css">
	<link rel="stylesheet" type="text/css" href="../css/material-design-iconic-font.min.css">
</head>
<body>
	<% include ../header/header %>
	<div class="container">
		
			  <div class="form-inline">
			    <div class="form-group mb-2">
			    	    <label for="devices">Selecione o Dispositivo:</label>
			    	    
			    </div>
			    <div class="form-group mx-sm-3 mb-2">
			           <select class="form-control" id="devices">
			           	<option value="-1">selecione o dispositivo</option>
			             <% 
			             if(typeof(devices) != "undefined"){
			             	for (var i = 0; i < devices.length; i++) { %>
			             		<option value=<%= devices[i].id %>><%= devices[i].nome_dispositivo + ' - ' + devices[i].topic %></option>
			       	      	<%
			             	}
			             }
			             %>
			           </select>
			     </div>

			    <input type="button" name="button" id="bt_device" value="Pesquisar" class="btn btn-primary mb-2">
			  </div>
			  <canvas id="canvas_default"></canvas>

			  <div class="page-head">
				<h2 class="page-head-title">Dados de Registro</h2>
			</div>
			  <pre id="dados_log">
			  	
			  </pre>
		</div>
		<script type="text/javascript">
			var messages = []
			var log = '';
			var labels = []
			var myChart;
			var colors = [];


			$("#bt_device").on('click', function(event) {
				if($("#devices option:selected").val() > 0){
					$.ajax({
						url: '/dispositivos/status/grafico',
						type: 'GET',
						dataType: 'json',
						data: {id: $("#devices option:selected").val()},
					})
					.done(function(dados) {
						messages = [];
						log = '';
						labels = [];
						colors = [];

						for (var i = 0; i < dados.length; i++) {
							messages.push(parseInt(dados[i].message))
							log += dados[i].topic + ' - ' + dados[i].message + ' - ' + dados[i].datetime + '\n'
							labels.push(i);
						}

						function dynamicColors() {
			            	var r = Math.floor(Math.random() * 255);
			            	var g = Math.floor(Math.random() * 255);
			            	var b = Math.floor(Math.random() * 255);
			            	return "rgb(" + r + "," + g + "," + b + ")";
						};
						
						//
						colors.push(dynamicColors());
						
						try{
							if(typeof myChart != "undefined"){
								myChart.destroy();
							}		
						}catch(e){
							console.log(e);
						}

						dados_log.innerText = log
						gera_grafico(messages)
					})
					.fail(function() {
						console.log("error");
					})
					.always(function() {
						console.log("complete");
					});
				}
			});


			function gera_grafico(dados){

			myChart = new Chart($("#canvas_default"), {
				type: 'line',
				data:{
					labels: labels,
					datasets: [{
						label:'Valor',
						backgroundColor:colors,
						borderColor: 'rgba(200, 200, 200, 0.75)',
						hoverBorderColor: 'rgba(200, 200, 200, 1)',
						data: dados,
						fill: false
					}]
				},

				options: {
					responsive: true,
					title: {
						display: true,
						text: 'Registro de Mensagens'
					},
					tooltips: {
						mode: 'index',
						intersect: false,
					},
					scales: {
						yAxes: [{
							stacked: true
						}]
					}
				}
			});
		}
		</script>
	</div>
</body>
	
</html>